@model Car_House.Models.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row px-3">
    <h1>Profile</h1>

    <div class="dropdown profile-dropdown show mt-2">
        <a class="btn settbtn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Settings
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" asp-action="Update" asp-route-UserID="@Model.UserID">Update Profile</a>
            <a class="dropdown-item" asp-action="ChangePassword">Change Password</a>
            <a class="dropdown-item" asp-action="Logout">Logout</a>
        </div>
    </div>
</div>


<div class="profile">

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>


    </dl>
    <div class="card m-auto col-md-6 col-lg-4 col-sm-12">
        <div class="card-body">
            <img src="~/images/@Model.ProfilePicture" class="" style="width:100%;" alt="No Image" />
        </div>
    </div>

</div>
<!--<div>
    <a asp-action="Update" asp-route-id="">Update</a> |
    <a asp-action="Index">Back to List</a>
</div>-->
