@model Car_House.Models.Car

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>

    <link rel="stylesheet" href="~/css/products.css" type="text/css">
    <link rel="stylesheet" href="~/css/suv.css" type="text/css">

</head>

<h1>Car Details</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <dl class="row text-white">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Model)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Model)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Brand)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Brand.BrandName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Color)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Color)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Transmission)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Transmission)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Condition)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Condition)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FuelType)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FuelType)
                </dd>
            </dl>
        </div>
        <div class="col-md-6 col-sm-12">
            <dl class="row text-white">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.GearType)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.GearType)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.BodyType)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.BodyType)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.EngineSize)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.EngineSize)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.NoOfSeats)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.NoOfSeats)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Mileage)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Mileage)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Category)
                </dd>
            </dl>
        </div>
    </div>
</div>

<div class="row mt-5 r1 wow bounceInUp">
    @foreach (var image in Model.Images)
    {
        <div class="col-md-4">

            <div class="card">
                <div class="dropdown show float-lg-right mt-1">
                    <a class="btn dropdown-toggle text-white float-right" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" asp-action="SetDisplayImage" asp-route-imageID="@image.ImageID">Set as Display Picture</a>
                        <a class="dropdown-item" asp-action="DeleteImage" asp-route-imageID="@image.ImageID">Delete Image</a>
                    </div>
                </div>
                @{ var cardcolor = Model.DisplayImage == image.ImageLocation ? "lightseagreen" : "white"; }
                <div class="card-body" style="background-color: @cardcolor">
                    <div class="poverlay">
                        <img src="~/images/@image.ImageLocation" class="" style="width:100%;" alt="No Image" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<br />

<div class="carcss">
    <a asp-action="Edit" asp-route-id="@Model.CarID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<!--
<div class="row r1 wow bounceInUp">

        <div class="col-md-4">
            <div class="product">
                <div class="poverlay">
                    <img src="~/images/" class="image-responsive">
                    <a asp-controller="Product" asp-action="Product" asp-route-CarID=lass="btn btn-custom btn-project">VIEW MORE</a>
                </div>
                <ul>
                    <li class="left"></li>
                    <li class="right"</li>
                </ul>
            </div>
        </div>
    }
</div>
    -->
